<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DTU Resources</title>
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <script src="/libs/bootstrap.bundle.min.js"></script>
    <script src="/scripts/admin-account.js"></script>
    <link rel="stylesheet" href="/libs/jquery-confirm.min.css">
    <script src="/libs/jquery-confirm.min.js"></script>
    <style>
        .navbar-brand{
            margin-right: 0;
            font-size: 1.06rem;
        }
    </style>
</head>
<body style="background-color: dimgrey">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">DTU Resources Admin Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage">Manage<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/upload">Upload</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Modify
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/modify/add">Add classifiers</a>
                        <a class="dropdown-item" href="/admin/modify/addAlias">Add an alias</a>
                        <a class="dropdown-item" href="/admin/modify/changeAlias">View/delete an alias</a>
                        <a class="dropdown-item" href="/admin/modify/existing">Modify existing</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/me">Account Settings</a>
                        <a class="dropdown-item" href="/admin/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <form class="container p-2 col-10 col-sm-6 col-md-5 col-lg-4 border border-primary rounded"style="background-color: white;color:black">
        <div class="form-group row">
            <div class="container">
                <label for="email">Email</label>
                <span class="form-control" id="email">{{email}}</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="container">
                <label for="name">Name</label>
                <span class="form-control" id="name">{{name}}</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="container">
                <label for="oldpass" class="col">Old password:</label>
                <input type="password" class="col" name="oldpass" id="oldpass">
            </div>
        </div>
        <div class="form-group row">
            <div class="container">
                <label for="newpass" class="col">New password:</label>
                <input type="password" class="col" name="newpass" id="newpass">
            </div>
        </div>
        <div class="text-center">
            <input class="mx-auto btn btn-primary" type="submit" value="Change password">
        </div>
    </form>
</html>